{% extends 'base.html' %}

{% block content %}
  <p>Here are all of the movies that Piotrek saw and definitely he should show them to Julka!<br>
    In total: <b>{{movies_seen|length}}</b>
  </p>

  <table id="movie_table" class="sortable">
    <tr>
      <th style="text-align:left !important;">Title</th>
      <th>Year released</th>
      <th>Director</th>
      <th></th>
    </tr>
    {% for movie in movies_seen %}

    <tr>
      <td style="text-align:left !important;">{{ movie.title }}</td>
      <td>{{ movie.release_year }}</td>
      {% if movie.director is None %}
      <td>-</td>
      {% else %}
      <td>{{ movie.director }}</td>
      {% endif %}

    {% endfor %}
    </tr>
  </table>
{% endblock %}