{% extends 'base.html' %}

{% block content %}

  <p>Here are all of the movies that you saw together (obydwojgoro), separately (Julka or Piotrek) or none of you have seen it. Just all the movies that you've added here. Latest at the top.<br>
    In total: <b>{{movies|length}}</b>
  </p>

  <table id="movie_table" class="sortable">
    <tr>
      <th style="text-align:left !important;">Title</th>
      <th>Year released</th>
      <th>Director</th>
      <th>Date seen</th>
      <th>Who saw it?</th>
      <th></th>
    </tr>
    {% for movie in movies %}

    <tr>
      <td style="text-align:left !important;">{{ movie.title }}</td>
      <td>{{ movie.release_year }}</td>
      {% if movie.director is None %}
      <td>-</td>
      {% else %}
      <td>{{ movie.director }}</td>
      {% endif %}
      {% if movie.date_seen is None %}
      <td>-</td>
      {% else %}
      <td>{{ movie.date_seen }}</td>
      {% endif %}
      <td>{{ movie.get_seen_by_display }}</td>
      <td> <a href="/edit_movie/{{ movie.title }}"> <i class="fa fa-edit"></i> </a></td>
    {% endfor %}
    </tr>
  </table>

{% endblock %}