{% extends 'base.html' %}

{% block content %}
  <p>Here are all of the movies that you saw together (obydwojgoro). Latest at the top.<br>
    In total: <b>{{movies_seen|length}}</b>
  </p>

  <table id="movie_table">
    <tr>
      <th>Title</th>
      <th>Year released</th>
      <th>Date seen</th>
    </tr>
    {% for movie in movies_seen %}
    <tr>
      <td>{{ movie.title }}</td>
      <td>{{ movie.release_year }}</td>
      <td>{{ movie.date_seen }}</td>
    {% endfor %}
    </tr>
  </table>
{% endblock %}