body {
    background-color: #494343;
    font-family: "Roboto";
}

#filmcatlogo {
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia;
}

#content {
    background-color: Snow;
    height: 100%;
}

#movie_table {
    width: 100%;
    text-align: center;
}

#add_table {
    width: 100%;
    padding: 5px;
}

#am_r_th{
    text-align:right;
    padding: 7px;
}

#am_l_th{
    text-align:left;
    padding: 7px;
}
